<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles%}
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-size: cover;
            background-image:  url({% static "首页.jpeg" %});
        }
        #text{
            width: 300px;
            height:200px;
            margin: 0 auto;
            margin-top:300px;
        }
        p{
            font-size: 30px;
        }
    </style>
</head>
<body>
        <div id="text">
            <div>
                <div><a href="/routine/base/"><p>base64编码解码</p></a></div>
                <div><a href="/routine/haxi/"><p>hash加密解密</p></a></div>
                <div><a href="/routine/jsys/"><p>js压缩</p></a></div>
                <div><a href="/routine/bmi/"><p>bmi指数</p></a></div>
                <div><a href="/routine/weather/"><p>天气预报</p></a></div>
            </div>
        </div>
</body>
</html>